# terraform
.terraform/
.terraformrc
terraform.rc
*.tfstate
*.tfstate.*
*.tfplan
.terraform.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
*.tfvars.json
!terraform/environments/*/terraform.tfvars

# Drill event logs
drill-events.log

# Go
apps/sentry/sentinel
apps/url-shortener/shortener
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.knp
*.bkp

# macOS
.DS_Store
